*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("https://imgs.search.brave.com/L1JBvAqKVfZVhU_Pa98LzucLEMcFKvUlVS2b1oavcpM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sb2dv/cy13b3JsZC5uZXQv/d3AtY29udGVudC91/cGxvYWRzLzIwMjAv/MDQvQW1hem9uLVN5/bWJvbC03MDB4Mzk0/LmpwZw");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box 2 */
.add_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add_sec{
    margin-left: 3px;
}
.add_icon{
    display: flex;
    align-items: center;
}

/* box 3 */
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav_search:hover{
    border: 2px solid orange;
}
.search_select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 140, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

/* box 4 */
.nav_first{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 5 */

.nav_cart i{
    font-size: 30px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}